@import '../global/mixins.scss';

/*******************************
    Global
********************************/
body {
  background: var(--bg-1);
  color: var(--text-bg);
  font-size: var(--size-md);
}

/* Background layers */
.bg {
  position: fixed;
  inset: 0;
  inline-size: 100%;
  block-size: 100dvb;
  background: var(--bg-img) center/cover no-repeat fixed;
  opacity: 0.25;

  &::before {
    content: "";
    position: fixed;
    inset: 0;
    background: var(--bg-texture) center/cover no-repeat fixed;
    background-blend-mode: var(--bg-blend);
    opacity: 0.3;
  }
}
