/*******************************
    Reset
********************************/
*,
*::before,
*::after {
    box-sizing: border-box;
}
html {
    font-size: var(--size-md);
    font-family: var(--font-serif);
}
body {
    line-height: 200%;
    -webkit-font-smoothing: antialiased;
    margin: 0;
    padding: 0;
}
img {
    max-width: 100%;
    object-fit: cover;
}
input,
button,
textarea,
select {
    font: inherit;
    color: inherit;
}
a {
    text-decoration: none;
    color: var(--link);
    transition: color .15s ease;
}