<header class="bm-head">
  <div class="plate-meta left">Pl. VII</div>

  <div class="plate-center">
    <span class="plate-rule" aria-hidden="true"></span>
    <a href="@@prefix/public/index.html" class="plate-title">
      the bone market
      <em class="plate-sub">mercatus ossium</em>
    </a>
    <span class="plate-rule" aria-hidden="true"></span>
  </div>

  <div class="plate-meta right">1894</div>

  <figure class="plate-fig" aria-hidden="true">
    <img src="https://i.pinimg.com/736x/d1/71/96/d17196880ed63494482f8f5cf3e58db0.jpg" alt="">
  </figure>
</header>
