<div id="navstrip" align="left">
    <i class="fa-solid fa-bars"></i> &nbsp; <a href="@@prefix/public/index.html">the bone market</a> <a href="/">more words</a>
    <span class="theme">
        <button id="theme-toggle" type="button" aria-label="Toggle theme">
            <i class="fa-solid fa-moon" id="icon-moon" title="Switch to dark mode"></i>
            <i class="fa-solid fa-sun"  id="icon-sun"  title="Switch to light mode"></i>
        </button>
    </span>
</div>

<div id="leftbar">
    
</div>